{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>avalon</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static "css/style.css" %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static "css/responsive.css" %}">
      <!-- fevicon -->
      <link rel="icon" href="" type="{% static "media/gif" %}"/>
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.min.css" %}">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %}">
      <!-- Tweaks for older IEs-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <!--
      <div class="loader_bg">
         <div class="loader"><img src="{% static "media/loading.gif" %}" alt="" /></div>
      </div>
      -->
      <!-- end loader -->

   <div class="wrapper">







        </nav>
      </div>


      <div id="content">


      <!-- section -->
      <section id="home" class="top_section">
         <div class="row">
            <div class="col-lg-12">
               <!-- header -->
      <header>
         <!-- header inner -->
         <div class="container">
            <div class="row">
               <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"><img src="{% static "media/logo.svg"  %}" width="420" height="230" alt="#"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="right_header_info">

                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <section>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5">
                  <div class="full slider_cont_section">
                     <h4>Рады приветствовать Вас на нашем сайте</h4>
                     <h3>Cars for common good</h3>
                     <p>Просим ознакомиться с информацией о вашем арендодателе!</p>

                  </div>
               </div>
               <div class="col-md-7">
                 <img class="img-responsive rounded-circle" src= "{% static "media/driver7.jpg" %}" alt="#" style="max-width: 700px; height: 100%"/>
               </div>
            </div>
         </div>
      </section>
      <!-- end header -->
            </div>
         </div>
      </section>
      <!-- end section -->

      <!-- section -->
      <div id="about" class="section layout_padding">
         <div class="container">
            <div class="row">
                 <div class="col-lg-4 margin_top_30">
               <div class="full margin_top_30">
                  <h3 class="main_heading _left_side margin_top_30">Компания вышла на рынок в 1998 году.</h3>
                  <p class="large">Не имея доступа к современным технологиям, мы не только смогли выжить, но и успешно развивались и продолжаем работать на радость Вам!</p>
               </div>

            </div>
            <div class="col-md-7">
                 <img class="img-responsive rounded-circle" src= "{% static "media/driver10.jpg" %}" alt="#" style="max-width: 700px; height: 100%"/>
               </div>
            </div>
        </div>

         </div>
      </div>
      <!-- end section -->

      <!-- section -->
      <div class="section layout_padding padding_top_0">
         <div class="container">

            <div class="row">

              <div class="col-md-7">
               <div class="full text_align_right r-img">
                  <img class="img-responsive rounded-circle" src= "{% static "media/driver3.jpg" %}" alt="#" style="max-width: 700px; height: 100%"/>
               </div>
            </div>

                 <div class="col-lg-4 margin_top_30">
               <div class="full margin_top_30" >
                  <h3 class="main_heading _left_side margin_top_30" >Устойчивый рост</h3>
                  <p class="large">Несмотря на экономическую ситуацию портфель заказов компании постоянно пополняется</p>
               </div>

            </div>

               </div>

         </div>
      </div>
      <!-- end section -->

      <!-- section -->
      <section id="why_choose_us" class="dark_bg_blue layout_padding cross_layout padding_top_0">
        <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="full center">
                 <h2 class="heading_main orange_heading">Для наших постоянных клиентов мы предлагаем:</h2>
               </div>
             </div>
           </div>
           <div class="row">
              <div class="col-lg-4">
                 <div class="full">
                    <div class="choose_blog text_align_center">
                        <img src="{% static "media/c1_icon.png" %}" />
                        <h4>СКИДКИ И СПЕЦИАЛЬНЫЕ ЦЕНЫ</h4>
                        <p>До 50% скидки на аренду!</p>
                    </div>
                 </div>
              </div>
              <div class="col-lg-4">
                 <div class="full">
                    <div class="choose_blog text_align_center">
                        <img src="{% static "media/c2_icon.png" %}" />
                        <h4>ДОПОЛНИТЕЛЬНОЕ ОБСЛУЖИВАНИЕ</h4>
                        <p>Узнайте у дополнительных услугах у менеджера.</p>
                    </div>
                 </div>
              </div>
              <div class="col-lg-4">
                 <div class="full">
                    <div class="choose_blog text_align_center">
                        <img src="{% static "media/c3_icon.png" %}" />
                        <h4>БЕСПЛАТНУЮ СТРАХОВКУ</h4>
                        <p>Для постоянных клиентов полное страховое покрытие предоставляется бесплатно.</p>
                    </div>
                 </div>
              </div>
              <div class="col-md-12 margin_top_30">

              </div>
           </div>
        </div>
      </section>
      <!-- end section -->

       <!-- section -->

      <!-- end section -->

      <!-- section -->
      <section id="contact" class="dark_bg_blue layout_padding cross_layout padding_top_0 margin_top_0">
        <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="full center">
                 <h2 class="heading_main orange_heading">Как нас найти:</h2>
               </div>
             </div>
           </div>
           <div class="row" >
              <div class="col-md-4">
                 <div class="full map_section">
                     <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A63dcc169ccf405e5530ea238321ac624c034ea9aeb3d0fcb264460e9ab1c993b&amp;width=300%&amp;height=783&amp;lang=ru_RU&amp;scroll=true"></script>
                     <div id="map">
                     </div>
                   </div>
              </div>
            </div>
        </div>
      </section>
      <!-- end section -->
      <script>
          function addFeedBack() {
              var name = $(document).getElementsById("namei").value;
              var phone = $(document).getElementsById("phonei").value;
              var email = $(document).getElementsById("emaili").value;
              var text = $(document).getElementsById("texti").value;
              alert(name + "\n" + phone+"\n" + email + "\n" + text);
              /*
              $.post({

                  url: '/ajax/',
                  data: {'Name': Name, 'Email': Email, 'Phone': Phone, 'Message': Message}
              });

               */
          }
      </script>

      <!-- footer -->
      <footer style = "background: #1c7430">
         <div class="container">
           <div class="row">
              <div class="col-md-6">
                <div class="full">
                  <h3>CARS FOR COMMON GOOD</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="full">
                   <ul class="social_links">
                      <li><a href="#"><i class="fa fa-vk"></i></a></li>
                      <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                   </ul>
                </div>
              </div>
              <div class="col-md-4">
                 <div class="full">
                    <h4 class="widget_heading">ОФОРМИТЬ ПОДПИСКУ</h4>
                 </div>
                 <div class="full subribe_form">
                    <form>
                      <fieldset>
                         <div class="field">
                           <input type="email" name="mail" placeholder="Введите адрес Вашей электронной почты" />
                         </div>
                         <div class="field">
                           <p><input id="subject" type="text" placeholder="type your subject here"
                            class="form-control"></p>
                             <p><input id="message" type="text" placeholder="type your message here"
                                       class="form-control"></p>
                             <p><a id="mail-link" class="btn btn-primary">Create email</a></p>
                         </div>
                      </fieldset>
                    </form>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="full">
                   <h4 class="widget_heading">Карта сайта</h4>
                 </div>
                 <div class="full f_menu">
                    <ul>
                       <li><a href="#home">Вверх</a></li>
                       <li><a href="index">На главную</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="full">
                   <h4 class="widget_heading">Контактная информация:</h4>
                   <div class="full cont_footer">
                     <p><strong>CarsForCommonGood : Адрес</strong><br><br>г. Екатеринбург, ул. Кирова, 28<br>Телефон: +987 654 3210<br>carsforgood@gmail.com</p>
                   </div>
                 </div>
              </div>
           </div>
         </div>
      </footer>
      <!-- end footer -->

      <!-- right copyright -->

   </div>
</div>

   <div class="overlay"></div>

      <!-- Javascript files-->
      <script src="{% static "js/jquery.min.js" %}"></script>
      <script src="{% static "js/popper.min.js" %}"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <!-- Scrollbar Js Files -->
      <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
      <script src="{% static "js/custom.js" %}"></script>
      <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel().interval = 1000
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });


    function loadEvents() {
        var mailString;
        function updateMailString() {
            mailString = '?subject=' + encodeURIComponent($('#subject').val())
                + '&body=' + encodeURIComponent($('#message').val());
            $('#mail-link').attr('href',  'mailto:peter1983@mail.ru' + mailString);
        }
        $( "#subject" ).focusout(function() { updateMailString(); });
        $( "#message" ).focusout(function() { updateMailString(); });
        updateMailString();
    }
      </script>

   </body>
</html>