{% extends "html/base.html" %}
{% block title %} RentLowCostCar{% endblock %}

{% block content %}
    <h2>Contract Rents</h2>
        {% for driver in drivers %}
            <h3>
                <a href="{{ driver.get_absolute_url }}">
                    {{ driver.driver_id }}
                </a>
            </h3>
        <p>
        Name driver{{ driver.driver_name}} to
        </p>
        <p class="date">
            Date from {{ driver.works_from_date}} to
        </p>
    {% endfor %}
{% endblock %}